.mainContainer{
 margin-left:5rem;
 padding-top: 2rem;
}
.costumeInput{
  margin-left: 3px;
  margin-right: 3px;
}


.infoBtn{
  margin-left: 10px;
}
.infoBtn:hover{
  cursor: pointer
}
.personalInput{
 margin-bottom: 10px;
}
.inputContainer{
  width: 50%;
}
.filtroPresupuestos{
  width:410px;
  margin-bottom:10px;
  display: flex ;
}
.deleteBox{
  margin-top: 7px;
  width: 150px;;
height: 35px;
margin-top: 10px;
}